{% extends "store/base.html" %}{% load static %}{% load render_table from django_tables2 %}{% load querystring from django_tables2 %}{% block title %}Purchases{%endblock title%}{% block content %}
    <div class="col container p-5">
        <small>
        <a class="btn btn-sm btn-success" href="{% url 'purchase-create' %}">Add Purchase Order</a>
        <a class="float-end btn btn-sm btn-success" href="{% querystring '_export'='xlsx' %}">
          <i class="fa-solid fa-download"></i>
          Export to Excel
        </a>
        <table class="table table-sm table-responsive">
            <thead>
              <tr class="table-success">
                <th scope="col">ID <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Name <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Quantity <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Price <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Delivery status <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Delivery date <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Vendor <i class="fa-solid fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
            {% for purchase in purchases %}
              <tr>
                <th scope="row">{{purchase.id}}</th>
                <td>{{purchase.item.name}}</td>
                <td>{{purchase.quantity}}</td>
                <td>{{purchase.total_value}}</td>
                <td>
                  {% if purchase.delivery_status == 'P' %}
                    <span class="badge badge-pill bg-soft-danger text-danger me-2">
                      pending
                    </span>
                  {% else %}
                    <span class="badge badge-pill bg-soft-success text-success me-2">
                      Successfull
                    </span>
                  {% endif %}
                </td>
                <td>{{purchase.delivery_date}}</td>
                <td>{{purchase.vendor.name}}</td>
                <td>
                  <a class="text-info" href="{% url 'purchase-update' purchase.id %}"><i class="fa-solid fa-pen"></i></a>
                  <a class="text-danger float-end" href="{% url 'purchase-delete' purchase.id %}"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="paginator">
            {% if is_paginated %}
            <ul class="pagination ">
                {% if page_obj.has_previous %}
                <li><a class="btn btn-sm accent-1 btn-outline-success " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&laquo;</span></li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="active "><span class="btn btn-sm btn-success ">{{ i }} <span class="sr-only ">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }} " class="btn btn-sm btn-outline-success ">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-sm btn-outline-success ">&raquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  {% endblock content %}