{% extends "store/base.html" %}{% load static %}{% load render_table from django_tables2 %}{% load querystring from django_tables2 %}{% block title %}Sales{%endblock title%}{% block content %}
    <div class="col container p-5">
      <style>
        input[type="text"],select{
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: inline-block;
            padding: 6px 20px;
            margin: 8px 0;
        }
        button[type="submit"]{
          padding: 4px 20px;
          margin: 8px 0;
      }
      </style>
      <div>
        <a class="btn btn-sm btn-success" href="{% url 'sale-create' %}">Add Sale Order</a>
        <a class="float-end btn btn-sm btn-success" href="{% querystring '_export'='xlsx' %}">
          <i class="fa-solid fa-download"></i>
          Export to Excel
        </a>
        <table class="table table-sm table-responsive overflow-x-hidden" id="dtVerticalScrollExample" cellspacing="0"
        width="100%">
            <thead>
              <tr class="table-success">
                <th scope="col" class="th-sm">ID <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Item <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Quantity <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Price per item <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Total price <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Payment Method <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Customer Name <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Date <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm">Served by <i class="fa-solid fa-sort"></i></th>
                <th scope="col" class="th-sm"> Action</th>
              </tr>
            </thead>
            <tbody>
            {% for sale in sales %}
              <tr>
                <th scope="row">{{sale.id}}</th>

                <td><a href="{% url 'sale-detail' sale.pk %}">{{sale.item.name}}</a></td>

                <td>{{sale.quantity}}</td>
                <td>{{sale.price}}</td>
                <td>{{sale.total_value}}</td>
                <td>
                  {% if sale.payment_method == 'MP' %}
                    <span class="badge badge-pill bg-soft-success text-success me-2">
                      MPESA
                    </span>
                  {% elif sale.payment_method == 'CS' %}
                    <span class="badge badge-pill bg-soft-primary text-primary me-2">
                      CASH
                    </span>
                  {% elif sale.payment_method == 'VM' %}
                    <span class="badge badge-pill bg-soft-warning text-warning me-2">
                      VOOMA
                    </span>
                  {% else %}
                    <span class="badge badge-pill bg-soft-info text-info me-2">
                      BANK
                    </span>
                  {% endif %}
                </td>
                <td>{{sale.customer_name}}</td>
                <td>{{sale.transaction_date|date:"Y/m/d - H:m:s"}}</td>
                <td>{{sale.profile.user.username}}</td>
                <td>
                  <a class="text-info" href="{% url 'sale-update' sale.slug %}"><i class="fa-solid fa-pen"></i></a>
                  <a class="text-danger float-end" href="{% url 'sale-delete' sale.slug %}"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="paginator">
            {% if is_paginated %}
            <ul class="pagination ">
                {% if page_obj.has_previous %}
                <li><a class="btn btn-sm accent-1 btn-outline-success " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&laquo;</span></li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="active "><span class="btn btn-sm btn-success ">{{ i }} <span class="sr-only ">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }} " class="btn btn-sm btn-outline-success ">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-sm btn-outline-success ">&raquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  {% endblock content %}