{% extends "store/base.html" %}{% load render_table from django_tables2 %}{% load querystring from django_tables2 %}{% load static %}{% block title %}Invoices{%endblock title%}{% block content %}
    <div class="col container p-5">
      <div>
        <a class="btn btn-sm btn-success" href="{% url 'invoice-create' %}"> Create Invoice </a>
        <a class="float-end btn btn-sm btn-success" href="{% querystring '_export'='xlsx' %}">
          <i class="fa-solid fa-download"></i>
          Export to Excel
        </a>
      </div>
      <div class="m-2">
        <table class= "table table-sm table-responsive">
            <thead>
              <tr class="table-success">
                <th scope="col"><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">ID <i class="fa-solid fa-sort"></i></a></th>
                <th scope="col">Customer name <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Phone number <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Item <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Price per item <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Quantity <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Total <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Shipping <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Grand Total <i class="fa-solid fa-sort"></i></th>
                <th scope="col"> Action</th>
              </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
              <tr>
                <th scope="row"><a> {{invoice.id}}</a></th>
                <td><a href="{% url 'invoice-detail' invoice.slug %}">{{invoice.customer_name}}</a></td>
                <td>{{invoice.contact_number}}</td>
                <td>{{invoice.item.name}}</td>
                <td>{{invoice.price_per_item}}</td>
                <th scope="col">{{invoice.quantity}}</th>
                <td>{{invoice.total}}</td>
                <td>{{invoice.shipping}}</td>
                <td>{{invoice.grand_total}}</td>
                <td>
                  <a class="text-info" href="{% url 'invoice-update' invoice.slug %}"><i class="fa-solid fa-pen"></i></a>
                  <a class="text-danger float-end" href="{% url 'invoice-delete' invoice.pk %}"><i class="fa-solid fa-trash"></i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
          <div class="paginator">
            {% if is_paginated %}
            <ul class="pagination ">
                {% if page_obj.has_previous %}
                <li><a class="btn btn-sm accent-1 btn-outline-success " href="?page={{ page_obj.previous_page_number }} ">&laquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&laquo;</span></li>
                {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                <li class="active "><span class="btn btn-sm btn-success ">{{ i }} <span class="sr-only ">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }} " class="btn btn-sm btn-outline-success ">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }} " class="btn btn-sm btn-outline-success ">&raquo;</a></li>
                {% else %}
                <li class="disabled "><span class="btn btn-sm btn-outline-success ">&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  {% endblock content %}