{% extends 'store/base.html' %}

{% block content %}
<div class="container p-3">
    <style>
        .table th, .table td {
            text-align: center;
        }
    </style>
    <h2 class="mb-4 text-center">
        <i class="fa-solid fa-tags me-2"></i> Categories
    </h2>
    <div class="mb-3 text-end">
        <a href="{% url 'category-create' %}" class="btn btn-success">
            <i class="fa-solid fa-plus me-2"></i> Create New Category
        </a>
    </div>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.pk }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{% url 'category-detail' category.pk %}" class="btn btn-outline-primary btn-sm">
                        <i class="fa-solid fa-info-circle me-2"></i> View Details
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
