<div class="row">
    <div class="card shadow border-0 mb-7 col-md-6 col-lg-6">
        <div class="bg-white">
          <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script>
              var xValues = ["Office Supplies", "Pesonal care", "Clothing", "Technology"];
              var yValues = [102, 200, 120, 54];
              var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
              ];

              new Chart("myChart", {
                type: "pie",
                data: {
                  labels: xValues,
                  datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                  }]
                },
                options: {
                  title: {
                    display: true,
                    text: "Products in stock Pie chart"
                  }
                }
              });
            </script>
        </div>
    </div>
    <div class="card shadow border-0 mb-7 col-md-6 col-lg-6">
      <small><b>demand supply curve</b></small>
      <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
        <script>
        var xValues = [50,60,70,80,90,100,110,120,130,140,150];
        var yValues = [7,8,8,9,9,9,10,11,14,14,15];

        new Chart("myChart4", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              backgroundColor: "rgba(0,0,255,1.0)",
              borderColor: "rgba(0,0,255,0.1)",
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            scales: {
              yAxes: [{ticks: {min: 6, max:16}}],
            }
          }
        });
        </script>
    </div>
</div>