{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}

        <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/@webpixels/css@1.1.5/dist/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>IMS: Logout</title>
    </head>
    <body>
       <div class="row my-4">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h4>You have logged out</h4>
                    <hr>
                    <div class="alert alert-info">
                        <h1>See you soon!</h1>
                    </div>
                    <a class="btn btn-outline-success" href="{% url 'user-login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                </div>
            </div>
        </div>
    </body>
</html>